body{
    font-family: "Montserrat", sans-serif;
}
header{
    background: #bbbbbb;
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}    
.contato-page{
    width: 940px;
    margin: 0 auto;
}
nav{
   position: absolute;
   top: 110px;
   right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    
}
nav a:hover{
    color:#c78c19;
    text-decoration: underline;
}
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}
.produtos li:hover{
    border-color: #c78c19;
}
.produtos li:active{
    border-color: #088c19;
}
.produtos li:hover h2{
    font-size: 34px;
}
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}
.produtoDescricao{
    font-size: 18px;
}
.produtoPreco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
footer{
    text-align: center;
    background: url(./images/bg.jpg);
    padding: 40px 0;
}
.copyright{
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}
form{
    margin: 40px 0;
}
form label,form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.check{
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: antiquewhite;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background-color: darkorange;
    cursor: pointer;
    transform: scale(1.2);
}
table{
    margin: 20px 0 40px;
}
thead{
    background-color: #555555;
    color:white;
    font-weight: bolder;
}
td,th{
    border: 1px solid black;
    padding: 8px 15px;
}
/* css da pagina inicial */
.banner{
width: 100%;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}
.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal strong{
    font-weight: bold;
}
.principal em{  
    font-style: italic;
}
.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;

}
.beneficios{
    padding: 3em 0;
    background-color: #888888;
}
.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.imagem-beneficios{
    width: 60%;
    opacity: 1;
    box-shadow: 10px 10px 5px 0;
}
.imagem-beneficios:hover{
    opacity: 0.3;
    transition: 400ms;
}
.itens{
    line-height: 1.5;
}
.itens:first-child{
    font-weight: bold;
}
.itens::before{
   content: "★";
}
.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}
.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 0;
}
.mapa p{
    text-align: center;
    padding: 2em 0;
}
.video{
    width: 560px;
    margin: 2em auto;
    box-shadow: 10px 10px 5px 0;
}

@media screen and (max-width: 480px) { 
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .lista-beneficios{
        width: 100%;
        padding-top: 15px 0 15px;
    }
    .produtos li{
        width: 385px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contato-page{
        width: 385px;
    }
}
@media screen and (max-width: 375px){
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }
    .produtos li{
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }
    .produtos li{
        width: 345px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

    
